[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "==2.4.3"
aiohttp = "==3.10.10"
aiosignal = "==1.3.1"
async-timeout = "==4.0.3"
attrs = "==24.2.0"
beautifulsoup4 = "==4.12.3"
certifi = "==2024.8.30"
charset-normalizer = "==3.4.0"
frozenlist = "==1.4.1"
idna = "==3.10"
multidict = "==6.1.0"
propcache = "==0.2.0"
requests = "*"
soupsieve = "==2.6"
urllib3 = "==2.2.3"
yarl = "==1.14.0"
cachetools = "*"

[dev-packages]

[requires]
python_version = "3.12"
